@import url(../fonts/stylesheet.css);
/* inter-regular - cyrillic_latin */

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-800 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/inter-v13-cyrillic_latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  @font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.eot');
    src:url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('../fonts/Gilroy-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}



*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white    ;
}

.header{
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 100vh;
    width: 100%;
}

.header-bg{
    background: linear-gradient(180deg,rgba(0,78,112,0),#000);
    bottom: 0;
    height: 9rem;
    position: absolute;
    width: 100%;
}
.tour-section{
    background-image: url(../img/black-noise.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.tour-info{
    color: white;
    font-family: "Benzin-regular";
    font-size: 1.25vw;
    margin-left: 8%;
}

.tour-info span:not(:last-child){
    margin-right: 14.58vw;
}

.tour-section{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5.208vw;
    padding-bottom: 5.208vw;
}
.line-1{
    width: 100%;
}
.event-item{
    margin-top: 2.604vw;
    margin-bottom: 2.604vw;
    color: white;
    font-size: 1.5625vw;
}
.date-event{
    color: white;
    font-family: "Benzin-bold";
    margin-right: 9.375vw;
    margin-left: 4%;
}
.city-event{
    color: white;
    font-family: "Benzin-bold";
    margin-right: 5.208vw;
}
.place-event{
    color: white;
    font-family: "Benzin-bold";

}
.vk-icon{
    margin-right: 1.041vw;
}
.buy-btn{
    display: inline-flex;
    padding: 0.989vw 2.448vw;
    justify-content: center;
    align-items: center;
    border-radius: 0.2604vw;
    
    background: linear-gradient(84deg, #FFD400 -72.02%, #FFA901 108.17%);
    font-family: Inter;
    font-weight: 800;
    /* margin-right: 4%; */
}
.line-2{
    width: 100%;
}
.event-item{
    display: flex;
    align-items: center;
    font-family: "Benzin-bold";
}

.date-event{
    width: 12.5vw;
}

.city-event{
    width: 12.5vw;
}

.place-event{
    width: 12.5vw;
}

.city-event-spb{
    margin-right: 4.167vw;
    width: 12.5vw;
}

.place-event-spb{
    margin-right: 4.167vw;
    width: 12.5vw;
}

.footer{
    background-color: black;
    padding: 2.65625vw  8.385vw  2.65625vw 8.385vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.partner-footer{
    display: flex;
    align-items: center;
}

.partner-footer img:not(:last-child){
    margin-right: 1.5625vw;
}

.vk-icon img{
    width: 2.604vw;
}

.partner-footer img:nth-child(1){
    width: 6.198vw;
}
.partner-footer img:nth-child(2){
    width: 7.2396vw;
}
.partner-footer img:nth-child(3){
    width: 5.417vw;
}
.partner-footer img:nth-child(4){
    width: 3.802vw;
}

.btn-container{
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 4%;

}
.event-item-adaptive{
    display: none;
    margin-top: 2.604vw;
    margin-bottom: 2.604vw;
    color: white;
    font-size: 1.5625vw;
}

.instagram-container{
    position: relative;
    cursor: pointer;
}

.contacts-links-instagram{
    position: absolute;
    text-wrap: nowrap;
    text-align: center;
    top: -100px;
    width: 120px;
    height: 90px;
    left: -47px;
    color: black;
    flex-direction: column;

    background-image: url(../img/contacts.svg);
    background-position: top;
    background-size: cover;
    border-radius: 10px;
    display: none;
}
.contacts-links-youtube{
    position: absolute;
    text-wrap: nowrap;
    text-align: center;
    top: -100px;
    width: 120px;
    height: 90px;
    left: -39px;
    color: black;
    display: none;
    flex-direction: column;

    background-image: url(../img/contacts.svg);
    background-position: top;
    background-size: cover;
    border-radius: 10px;
}
.contacts-links-telegram{
    position: absolute;
    text-wrap: nowrap;
    text-align: center;
    top: -100px;
    width: 120px;
    height: 90px;
    left: -39px;
    color: black;
    display: none;
    flex-direction: column;

    background-image: url(../img/contacts.svg);
    background-position: top;
    background-size: cover;
    border-radius: 10px;
}
.contacts-footer a{
    margin-top: 4px;
    color: black;
    font-family: "Benzin-bold";
    font-size: 14px;

}
.contacts-footer{
    display: flex;
    align-items: center;
    gap: 15px;
}

.youtube-container{
    position: relative;
    cursor: pointer;
}

.telegram-container{
    position: relative;
    cursor: pointer;
}

.open{
    display: flex;
}

.telegram-container img{
    width: 1.823vw;
 }
 .youtube-container img{
    width: 2.396vw;
}
.instagram-container img{
    width: 1.823vw;
}

.mixzoy{
    font-family: 'Gilroy';
    margin-top: 1.0416666666666667vw;
    font-size: 0.7291666666666666vw;
    color: #6C6C6C;
}
.mixzoy a{
    color: #6C6C6C;
}

.mixzoy span{
    font-family: 'Gilroy';
    color: white;
}
@media (max-width: 770px) {
    .mixzoy{
        margin-top: 20px;
        font-size: 14px;
    }
    body{
        background: black;
    }
    .header{
        background-image: url(../img/bg-mobile.png);
        height: 90vh;
    }
    .tour-section{
        background-image: url(../img/black-noise-mobile.jpg);
    }
    .header-bg{
        display: none;
    }
    .tour-info{
        font-size: 14px;
    }
    .event-item{
        font-size: 14px;
        flex-wrap: wrap;
    }
    .date-event{
        margin-right: auto;
        margin-left: 20px;
        width: fit-content;
        word-break: normal;


    }
    .city-event{
        margin-right: 0;
        width: 201px;

    }
    .place-event{
        margin: 0;
        margin-left: 0;
        width: fit-content;
    }
    .vk-icon img{
        width: 50px;
    }
    .buy-btn{
        padding: 16px 30px;
        font-size: 19px;
        border-radius: 5px;
    }
    .event-item{
        display: none;
    }
    
    .event-item-adaptive{
        display: flex;
        font-size: 14px;
        flex-wrap: wrap;
        margin-left: 4%;
        margin-right: 4%;
    }

    .btn-container{
        justify-content: space-between;
        margin-top: 10px;
        margin-left: 4%;
         margin-right: 4%;
        width: 100%;
    }
    .tour-info{
        display: none;
    }
    .line-1{
        display: none;
    }

    .footer{
        flex-direction: column;
        padding-top: 40px;
    }
    .contacts-footer{
        display: flex;
        align-items: center;
    }
    .partner-footer img:nth-child(1) {
        width: 72px;
    }
    .partner-footer img:nth-child(2) {
        width: 83px;
    }
    .partner-footer img:nth-child(3) {
        width: 63px;
    }
    .partner-footer img:nth-child(4) {
        width: 44px;
    }
    .partner-footer img:not(:last-child) {
        margin-right: 30px;
        
    }
    .partner-footer{
        margin-top: 30px;
    }
    .telegram-container img{
        width: 36px;
     }
     .youtube-container img{
        width: 46px;
    }
    .instagram-container img{
        width: 36px;
    }

}